<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'count.css' %}">
</head>
<body>
    <div class="title">
        <h1>글자수 세기</h1>
        <div class="mention">글자를 입력해보세요:)</div>
    </div>
    <div class="put">
        <form class="put1" action="{% url 'result' %}" method="POST"> {% csrf_token %}
            <textarea class="textbox" name="text" cols="60" rows="10"></textarea>
            <br>
            <input class="input_button" type="submit" value="제출하기">
        </form>
    </div>
    
</body>
</html>