body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my_text{
    font-weight: bold;
    font-size: 25px;
    color: cornflowerblue;
    text-align: center;
    margin: 10px;
}
.my_text_n{
    width: 400px;
    height: 400px;
    background-color: cornflowerblue;
    color: cornsilk;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my_text_nn{
    text-align: center;
    width: 380px;
}

.info_box{
    width: 400px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

